
<div id="left-edge" class="col-lg-2 col-md-0-max"></div>
<div id="capital" class="col-lg-8 col-md-9 col-sm-12">
    <div>
        <div id="brand" class="articles-block">
            <div class="title detail-box">
                <h1>Giới Thiệu:</h1>
            </div>
            <hr>
            <div class="copyright detail-box">
                <p>
                    Chào các bạn.
                </p>
                <p>
                    Mình là Hoàng Đức Thọ, một web developer còn non kinh nghiệm và thích tìm hiểu những điều lý thú
                    trong thế giới công nghệ.
                </p>
                <p>
                    Vì chưa có nhiều kinh nghiệm trong nhiều vấn đề nên mình thường phải tự đi lượm lặt thông tin trên
                    Google để tìm cách giải quyết những vấn đề của mình. Nhận thấy việc tìm kiếm đó rất vất vả kèm theo
                    tính hay quên, nên mình quyết định lưu lại những kinh nghiệm đó để sau này có thể dùng lại, và cũng
                    là để giúp đỡ các bạn ít kinh nghiệm như mình có thêm một giải pháp để giải quyết khó khăn các bạn
                    gặp phải.
                </p>
                <p>
                    Bên cạnh đó, vì là người thích thú với những thông tin, những câu chuyện thú vị trong thế giới IT,
                    nên mình thường xuyên tìm kiếm những thông tin mới ở cả các trang tin công nghệ trong nước và nước
                    ngoài. Mình nhận thấy có nhiều bài viết rất thú vị ở các trang nước ngoài chưa có trên các trang tin
                    Việt Nam, nên mình muốn dịch lại để chia sẻ với những bạn chưa có thời gian tìm hiểu.
                </p>
                <p>
                    Bởi những lý do đó, vienvong.vn chủ yếu bao gồm các bài hướng dẫn sử lý các lỗi, các vấn đề gặp phải
                    trong quá trình làm web, vận hành web và server, cùng với đó là các tin tức, bài chia sẻ được dịch
                    lại từ các blog, các trang tin nước ngoài.
                </p>
                <p>
                    Chắc chắn có nhiều anh chị giàu kinh nghiệm khi đọc các bài viết, bài dịch trên website của mình sẽ
                    chê cười về nó thiếu chuyên nghiệp, không có gì mới lạ, toàn những điều bình thường. Nhưng với mình
                    đó là nhứng thứ bổ ích, và mình mong nó cũng sẽ bổ ích với một số bạn khác.
                </p>
                <p>
                    Đồng thời việc viết lách cũng là thú vui nho nhỏ của mình. Nếu có thiếu sót nào, mong các bạn góp ý
                    để mình có thể hoàn thiện hơn.
                </p>
                <p>
                    Cảm ơn các bạn đã quan tâm tới vienvong.vn. Chúc các bạn thành công trong công việc và cuộc sống.
                </p>
                <br>
                <p>Thân</p>
                <p><i>Hoàng Đức Thọ</i></p>
            </div>
        </div>
    </div>
</div>
<div id="right-edge" class="col-lg-2 col-md-3 col-sm-0-max">

</div>