
<div id="left-edge" class="col-lg-2 col-md-0-max"></div>
<div id="capital" class="col-lg-8 col-md-9 col-sm-12">
    <div>
        <div id="brand" class="articles-block">
            <div class="title detail-box">
                <h1>Bản quyền nội dung:</h1>
            </div>
            <hr>
            <div class="copyright detail-box">
                <p>Viễn Vọng luôn tôn trọng và đề cao vấn đề bản quyền nội dung, đặc biệt là của các sản phẩm số hóa
                    trên Internet. Do đó, mọi hành vi lạm dụng, xâm hại hoặc cố tình sử dụng các sản phẩm bất hợp pháp
                    hoặc chưa được chủ sở hữu đồng ý đều được coi là hành vi vi phạm bản quyền tác giả. Viễn Vọng không
                    khuyến khích chuyện này.
                </p>
                <p>Các bài viết được đăng tải trên Viễn Vọng là do Viễn Vọng tự viết dựa trên quan điểm, kinh nghiệm của
                    mình hoặc tổng hợp, biên dịch hoặc đăng lại (có chọn lọc) từ các trang khác có ghi rõ nguồn gốc tác
                    giả.
                </p>
                <p>Để thể hiện sự tôn trọng của bạn với chúng tôi và đọc giả, khi đăng tải lại bài viết của chúng tôi
                    xin hãy ghi rõ nguồn "Viễn Vọng - vienvong.vn" kèm theo link nguồn bài viết để xác nhận bản quyền.
                    Điều này sẽ giúp bạn tránh bị coi là vi phạm bản quyền.
                </p>
                <p>Trong trường hợp các bạn vi phạm vấn đề bản quyền khi phát hành lại nội dung chúng tôi đã đăng tải,
                    chúng tôi sẽ buộc lòng phải nhờ Google, Yahoo, Bing can thiệp để xóa nội dung của các bạn trên
                    các công cụ tìm kiếm này theo các điều khoản của chương trình bảo vệ bản quyền Google DMCA.
                </p>
                <p>Khi bị báo cáo vi phạm bản quyền nội dung, trang web của các bạn sẽ bị đánh tụt xếp hàng tìm kiếm và
                    không được Các công cụ tìm kiếm lập chỉ mục những nội dung vi phạm.
                </p>
                <br>
                <p>Cảm ơn các bạn đã theo dõi và ủng hộ Viễn Vọng.</p>
                <p><i>Trân Trọng</i></p>
                <p><i>Hoàng Đức Thọ</i></p>
            </div>
        </div>
    </div>
</div>
<div id="right-edge" class="col-lg-2 col-md-3 col-sm-0-max">

</div>