<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-0-max"></div>
        <div class="col-lg-8 col-md-9">
            <div id="introduce">
                <h4>Lời Tựa</h4>
                <p>Với những nỗ lực của mình, chúng tôi hi vọng đã đem đến cho bạn những thông tin thực sự hữu ích.</p>
                <p>Mọi thiếu sót của chúng tôi trong quá trình thực hiện, phát hành và quản lí nội dung cũng như website mong được các bạn thông cảm vả góp ý.</p>
                <p>Sự quan tâm của các bạn là niềm vui đối với chúng tôi</p>
                <p>Xin chân thành cảm ơn!</p>

                <hr>

                <h4>Bản quyền nội dung:</h4>
                <!--<p><blockquote>Những nội dung mà chúng tôi cung cấp đều là thông tin độc quyền, không copy từ những nguồn khác.</blockquote></p>-->
                <p><blockquote>Để thể hiện sự tôn trọng của bạn với chúng tôi và mọi người xin hãy ghi rõ link nguồn bài viết để xác nhận bản quyền khi các bạn xuất bản lại nội dung của chúng tôi.</blockquote></p>
                <p><blockquote>Trong trường hợp các bạn vi phạm vấn đề bản quyền khi phát hành lại nội dung chúng tôi đã đăng tải, chúng tôi sẽ buộc lòng phải nhờ Google can thiệp để xóa nội dung của các bạn trên Google theo các điều khoản của chương trình bảo vệ bản quyền Google DMCA.</blockquote></p>
            </div>
            <hr>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
            <div id="contact">
                <h4>Liên hệ</h4>
                <p>Mọi ý kiến đóng góp của các bạn xin gửi về địa chỉ e-mail:</p>
                <p><blockquote>vienvong.vn@gmail.com</blockquote></p>
                <p>Hoặc liên hệ với Web Master qua E-mail: </p>
                <p><blockquote>hoangductho.3690@gmail.com</blockquote></p>
                <p>Hoặc Skype:</p>
                <p><blockquote>hoangductho.3690</blockquote></p>
            </div>
            <hr>
        </div>
    </div>
    <div id="copyright">
        @2015 vienvong.vn <a href="/sitemap.html">Site Map</a>
    </div>
    <br>
</div>
