
<div id="left-edge" class="col-lg-2 col-md-0-max"></div>
<div id="capital" class="col-lg-8 col-md-9 col-sm-12">
    <div>
        <div id="brand" class="articles-block">
            <div class="title detail-box">
                <h1>Chính sách bảo mật:</h1>
            </div>
            <hr>
            <div class="copyright detail-box">
                <p>
                    Quyền riêng tư của người dùng là điều Viễn Vọng luôn luôn tôn trọng.
                </p>
                <p>
                    Đối với Viễng vọng, quyền riêng tư của mỗi người là không thể tùy ý xâm phạm. Vì vậy mọi thông tin
                    cá nhân nhạy cảm (bao gồm e-mail, địa chỉ, số điện thoại, số Chứng minh nhân dân,...) của người dùng
                    sẽ được chúng tôi giữ kín và không cung cấp cho bất kì một bên thứ 3 nào.
                </p>
                <p>
                    Đối với việc lưu trữ và hiển thị thông tin người dùng, Viễn Vọng sẽ chỉ hạn chế các thông tin công
                    khai ở mức đại diện (bao gồm họ tên, ảnh đại diện, mã số thành viên). Ngoài ra không có thêm bất cứ
                    thông tin người dùng nào được tiết lộ.
                </p>
                <p> Chính sách bảo mật này sẽ được Viễn Vọng tuân thủ một cách nghiêm túc.</p>
            </div>
        </div>
    </div>
</div>
<div id="right-edge" class="col-lg-2 col-md-3 col-sm-0-max">

</div>