<div id="left-edge" class="col-lg-2 col-md-0-max"></div>
<div id="info" class="col-lg-8 col-md-9 col-sm-12">
    <div>
        <div id="brand" class="articles-block">
            <div class="title detail-box">
                <h1>Site Map</h1>
            </div>
            <hr>
            <div class="suggest-articles detail-box">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <h3><a href="/">Trang chủ</a></h3>
                        <p></p>
                    </div>
                    <div class="col-md-6">
                        <h3><a href="/news">Tin tức</a></h3>
                        <p></p>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="col-md-6">
                        <h3><a href="/blog">Blog</a></h3>
                        <p></p>
                    </div>
                    <div class="col-md-6">
                        <h3><a href="/tutorials">Hướng dẫn</a></h3>
                        <p></p>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="col-md-6">
                        <h3><a href="/search/NoSQL">NoSQL</a></h3>
                        <p></p>
                    </div>
                    <div class="col-md-6">
                        <h3><a href="/auth/login">Login</a></h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="right-edge" class="col-lg-2 col-md-3 col-sm-0-max">

</div>