<!doctype html>
<html>
<head>
    <base href='/'>
    <meta name="fragment" content="!" />
    <meta charset="utf-8">
    <title ng-bind-template="{{viewTitle}} Viễn Vọng">Viễn Vọng - vienvong.vn Blog công nghệ và đời sống</title>
    <link rel="shortcut icon" href="images/vienvong-logo1.png">

    <link rel="apple-touch-icon-precomposed" href="images/vienvong-logo2.png">
    <meta name="description" content="Viễn Vọng là một blog tập trung vào Internet, NoSQL, MongoDB, PHP và CodeIgniter">
    <meta name="keywords" content="Công nghệ, Khoa học, Lập trình, Internet. IT, Website, Mobile, NoSQL, MongoDB, Database, IoT, Big Data, Tin tức">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="bower_components/google-code-prettify/bin/prettify.min.css" />
    <link rel="stylesheet" href="bower_components/github-markdown-css/github-markdown.css" />
    <link rel="stylesheet" href="bower_components/angular-markdown-toolkit/markdown.css" />
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->

</head>

<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div id="top" ng-app="vienvong" ng-controller="MainCtrl">

    <!-- Header of Page loading-->
    <header>
        <div id="header-box">
            <div id="logo" class="header-package col-sm-0-min col-xs-3">
                <div id="logo-button" class="blur" ng-init="secondMenu = false" ng-click="secondMenu =! secondMenu">
                    <img src="images/vienvong-logo2.png" height="100%" alt="vienvong.vn mobile icon">
                    <span class="caret"></span>
                </div>

                <nav id="second-menu" class="hide" ng-class="{'show': (secondMenu)}" off-click="secondMenu = false" off-click-if="secondMenu">
                    <a ui-sref="main.articles.home">
                        <div class="second-menu-options blur" ng-class="{'active': (state.includes('main.articles.home'))}">All Posts</div>
                    </a>
                    <a ui-sref="main.articles.group({group: 'news'})">
                        <div class="second-menu-options blur" ng-class="{'active': (state.params.group == 'news')}">News</div>
                    </a>
                    <a ui-sref="main.articles.group({group: 'blog'})">
                        <div class="second-menu-options blur" ng-class="{'active': (state.params.group == 'blog')}">Blog</div>
                    </a>
                    <a ui-sref="main.articles.group({group: 'tutorials'})">
                        <div class="second-menu-options blur" ng-class="{'active': (state.params.group == 'tutorials')}">Tutorials</div>
                    </a>
                    <a ui-sref="main.articles.search({text: 'NoSQL'})">
                        <div class="second-menu-options blur" ng-class="{'active': (state.params.text == 'NoSQL')}">NoSQL</div>
                    </a>
                </nav>
            </div>
            <div id="site-name" class="header-package col-xs-0-max col-sm-3 col-md-2">
                <a ui-sref="main.articles.home()">
                    <div id="site-name-letter" class="blur col-sm-12">
                        <!--<img src="images/vienvong-fulltext3.png" height="80%" style="padding-top: 5%">-->
                        <div style="font-family: 'Times New Roman'; font-size: 32px"><b>Viễn Vọng</b></div>
                    </div>
                </a>
            </div>
            <div id="main-bar" class="header-package col-xs-0-max col-sm-5 col-md-5">
                <div id="main-bar-above" class="header-dual">
                    <p>Tri thức là sự chia sẻ</p>
                </div>
                <div id="main-bar-below" class="header-dual">
                    <nav id="main-menu">
                        <a ui-sref="main.articles.home">
                            <div class="main-menu-options blur" ng-class="{'active': (state.includes('main.articles.home'))}">All Posts</div>
                        </a>
                        <a ui-sref="main.articles.group({group: 'news'})">
                            <div class="main-menu-options blur" ng-class="{'active': (state.params.group == 'news')}">News</div>
                        </a>
                        <a ui-sref="main.articles.group({group: 'blog'})">
                            <div class="main-menu-options blur" ng-class="{'active': (state.params.group == 'blog')}">Blog</div>
                        </a>
                        <a ui-sref="main.articles.group({group: 'tutorials'})">
                            <div class="main-menu-options blur" ng-class="{'active': (state.params.group == 'tutorials')}">Tutorials</div>
                        </a>
                        <a ui-sref="main.articles.search({text: 'NoSQL'})">
                            <div class="main-menu-options blur" ng-class="{'active': (state.params.text == 'NoSQL')}">NoSQL</div>
                        </a>
                    </nav>
                </div>
            </div>
            <div id="actions" class="header-package col-xs-8 col-sm-4 col-md-5 pull-right">

                <div id="auth-box" class="header-package block pull-right">
                    <div ng-if="!online">
                        <div id="user-name" class="header-dual">
                            <p>You are Anonymous!</p>
                        </div>
                        <div id="user-actions" class="header-dual">
                            <button ng-click="loginShow()">Sign in</button>
                            <button rel="nofollow" ui-sref="main.auth.registry">Sign up</button>
                        </div>
                    </div>
                    <div ng-if="online">
                        <div id="user-name" class="header-dual">
                            <p>{{online.email}}</p>
                        </div>
                        <div id="user-actions" class="header-dual">
                            <!--<button ui-sref="main.auth.profile">Profile</button>-->
                            <button ui-sref="main.auth.logout">Sign out</button>
                        </div>
                    </div>
                </div>

                <div id="facebook-box" class="header-package block pull-right">
                    <div class="header-button facebook-bar-button" ng-click="fbShow()">
                        <i class="fa fa-2x fa-facebook header-color"></i>
                    </div>
                </div>
                <div id="search-button" class="header-package col-md-0-min block pull-right">
                    <div class="header-button facebook-bar-button" ng-click="searchShow()">
                        <i class="fa fa-search primary-color fa-2x"></i>
                    </div>
                </div>

                <div id="search-bar" class="header-package block col-md-6 col-lg-7 col-sm-0-max pull-right">
                    <!-- Search Box-->
                    <div id="search-bar-box" ng-controller="searchCtrl" class="bar pull-right col-md-12 full-radius">
                        <form ng-submit="searchArticle()" class="row">
                            <div class="pull-left col-md-11 col-sm-10 row none-padding-right">
                                <input type="text" name="search" ng-model="searchString" class="form-control none-padding-right">
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="form-control none-effect">
                                    <i class="fa fa-search primary-color"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- End search box-->
                </div>
            </div>
        </div>

    </header>
    <!-- end header-->

    <!-- Main Content loading-->
    <main class="container">
        <noscript>
            <div class="row articles-block">
                <h3>Trình duyệt của bạn đã chặn Javascript</h3>
                <p>vienvong.vn được xây dựng bằng angularJS. Website của chúng tôi không thể hoạt động khi Javascript bị chặn.</p>
                <p>Để vienvong.vn có thể hoạt động trên trình duyệt của bạn, xin vui lòng hãy kích hoạt Javascript.</p>
                <p>Hi vọng bạn sẽ có những trải nghiệm thú vị.</p>
                <p>Xin cảm ơn</p>
            </div>
        </noscript>
        <div class="row" ui-view="">

        </div>
    </main>
    <!-- End main content-->

    <!-- Footer of page loading-->
    <footer class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-0-max"></div>
                <div class="col-lg-8 col-md-9">
                    <div id="introduce">
                        <h4>Lời Tựa</h4>
                        <p>Với những nỗ lực của mình, chúng tôi hi vọng đã đem đến cho bạn những thông tin thực sự hữu ích.</p>
                        <p>Mọi thiếu sót của chúng tôi trong quá trình thực hiện, phát hành và quản lí nội dung cũng như website mong được các bạn thông cảm vả góp ý.</p>
                        <p>Sự quan tâm của các bạn là niềm vui đối với chúng tôi</p>
                        <p>Xin chân thành cảm ơn!</p>

                        <hr>

                        <h4>Bản quyền nội dung:</h4>
                        <p><blockquote>Để thể hiện sự tôn trọng của bạn với chúng tôi và mọi người xin hãy ghi rõ link nguồn bài viết để xác nhận bản quyền khi các bạn xuất bản lại nội dung của chúng tôi.</blockquote></p>
                        <p><blockquote>Trong trường hợp các bạn vi phạm vấn đề bản quyền khi phát hành lại nội dung chúng tôi đã đăng tải, chúng tôi sẽ buộc lòng phải nhờ Google can thiệp để xóa nội dung của các bạn trên Google theo các điều khoản của chương trình bảo vệ bản quyền Google DMCA.</blockquote></p>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <div id="contact">
                        <h4>Liên hệ</h4>
                        <p>Mọi ý kiến đóng góp của các bạn xin gửi về địa chỉ e-mail:</p>
                        <p><blockquote>vienvong.vn@gmail.com</blockquote></p>
                        <p>Hoặc liên hệ với Web Master qua E-mail: </p>
                        <p><blockquote>hoangductho.3690@gmail.com</blockquote></p>
                        <p>Hoặc Skype:</p>
                        <p><blockquote>hoangductho.3690</blockquote></p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-0-max"></div>
                <div class="col-lg-8 col-md-9">
                    <div class="info-menu">
                        <nav>
                            <a href="/info/about" class="info-menu-options blur">Giới thiệu</a>
                            <a href="/info/privacy" class="info-menu-options blur">Privacy</a>
                            <a href="/info/copyright" class="info-menu-options blur">Bản quyền</a>
                            <a href="/info/sitemap" class="info-menu-options blur">Site Map</a>
                        </nav>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">

                </div>
            </div>
            <div id="copyright">
                @2015 vienvong.vn
            </div>
            <br>
        </div>

    </footer>
    <!-- End footer of page-->

    <!-- Irregular Box-->
    <div class="irregular-box">
        <div id="search-bar" class="header-package hide" ng-class="{'show': (searchBoxShow)}" off-click="searchHide()" off-click-if="searchBoxShow">
            <!-- Search Box-->
            <div id="search-bar-box" class="bar pull-right full-radius">
                <form ng-submit="searchPosts()">
                    <div class="pull-left col-md-11 col-sm-10 row none-padding-right">
                        <input type="text" name="search" class="form-control none-padding-right">
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="form-control none-effect">
                            <i class="fa fa-search primary-color"></i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- End search box-->
        </div>

        <!-- Load facebook page-->
        <div id="facebook-page-box" class="hide" ng-class="{'show': (facebookShow)}" off-click="fbHide()" off-click-if="facebookShow">
            <div id="fb-root"></div>
            <div ng-if="fanpageInit">
                <div class="fb-like-box" data-href="https://www.facebook.com/vienvong.vn" data-width="100%"
                     data-height="100%" data-colorscheme="light" data-show-faces="true" data-header="false"
                     data-stream="false" data-show-border="true"></div>
            </div>
        </div>
        <!-- end load facebook page-->

        <!-- Login box-->
        <div id="login-box" class="hide" ng-class="{'show': (loginBoxShow && !online)}" off-click="loginHide()" off-click-if="loginBoxShow">
            <div class="login-actions">
                <div class="login-title end-box">
                    <img src="/images/vienvong1.png" alt="vienvong.vn login icon">
                    <strong class="g-plus"> Login</strong>
                </div>
                <div class="login-description end-box col-xs-0-max">
                    <p><i class="fa fa-caret-right g-plus"></i> You can <a ui-sref="main.auth.registry">registry</a> the account by your e-mail.</p>

                    <p><i class="fa fa-caret-right g-plus"></i> You can using Facebook or Google account to registry and login.</p>
                </div>
                <div class="login-button end-box">
                    <form ng-controller="loginCtrl">
                        <div class="login-data">
                            <div ng-if="!result.ok && result.err" class="invalid container-fluid">
                                <i class="fa fa-times-circle"></i> <b>Please try again.</b> <br>
                                {{result.err}}
                            </div>
                        </div>
                        <div class="login-data row">
                            <div class="container-fluid">
                                <input type="text" name="email" ng-model="auth.email" ng-blur="valid('email')" placeholder="E-mail" class="form-control"/>
                            </div>
                            <div class="container-fluid" ng-if="!validate.email.valid">
                                <p></p>
                                <div class="form-valid" ng-bind-html="validate.email.mess">
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="login-data row">
                            <div class="container-fluid">
                                <input type="password" name="password" ng-model="auth.password" ng-blur="valid('password')" placeholder="Password" class="form-control"/>
                            </div>
                            <div class="container-fluid" ng-if="!validate.password.valid">
                                <p></p>
                                <div class="form-valid" ng-bind-html="validate.password.mess">
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="login-data row">
                            <div class="container-fluid">
                                <button class="btn btn-primary" ng-class="{'disable': (scores < 2)}" ng-click="process()">Sing in</button>
                                <button ng-click="reset()" class="btn btn-default">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="user-term">
                <div class="user-terms">
                    <!--<a href="">-->
                        <!--This terms for users-->
                    <!--</a>-->
                </div>
            </div>
        </div>
        <!-- End login box-->
    </div>
    <!-- End irregular box-->

</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js(.) scripts/static.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angularjs-viewhead/angularjs-viewhead.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<!-- endbuild -->

<script src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<!--<script src="scripts/seo.js"></script>-->
<script src="scripts/controllers/main.js"></script>
<script src="scripts/factories/initConnectFactory.js"></script>

<!-- Articles Module-->
<script src="modules/articles/articles.js"></script>
<script src="modules/articles/controllers/articlesCtrl.js"></script>
<script src="modules/articles/controllers/searchCtrl.js"></script>
<script src="modules/articles/controllers/expressCtrl.js"></script>

<script src="modules/articles/directives/scroll.js"></script>

<script src="modules/articles/factories/articleConnectFactory.js"></script>
<script src="modules/articles/factories/getArticlesFactory.js"></script>
<script src="modules/articles/factories/expressArticlesFactory.js"></script>
<script src="modules/articles/factories/commentConnectFactory.js"></script>

<!-- End articles module-->
<!-- Auth module-->
<script src="modules/auth/auth.js"></script>
<script src="modules/auth/controllers/loginCtrl.js"></script>
<script src="modules/auth/controllers/forgotCtrl.js"></script>
<script src="modules/auth/controllers/registryCtrl.js"></script>
<script src="modules/auth/controllers/logoutCtrl.js"></script>

<script src="modules/auth/factories/authConnectFactory.js"></script>
<!-- End auth module-->

<!-- facebook Module-->
<script src="modules/facebook/facebookInit.js"></script>
<script src="modules/facebook/facebook.js"></script>
<script src="modules/facebook/directives/facebookDirective.js"></script>
<script src="modules/facebook/directives/fbLikeButtonDirective.js"></script>
<script src="scripts/directives/gaBoxDirective.js"></script>
<!-- facebook module end-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-off-click/offClick.js"></script>
<script src="bower_components/google-code-prettify/bin/prettify.min.js"></script>
<script src="bower_components/angular-markdown-toolkit/markdown.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
<script src="bower_components/jsbn/jsbn.js"></script>
<script src="bower_components/sotos.crop-image/dist/sotos.crop-image.min.js"></script>
<!-- Pagedown-Extra-->
<script src="bower_components/pagedown-extra/pagedown/Markdown.Converter.js"></script>
<script src="bower_components/pagedown-extra/pagedown/Markdown.Sanitizer.js"></script>
<script src="bower_components/pagedown-extra/pagedown/Markdown.Editor.js"></script>
<script src="bower_components/pagedown-extra/Markdown.Extra.js"></script>
<!-- End pagedown extra-->
<!-- endbuild -->



<!-- build:js({.tmp,app}) scripts/crypto.js -->
<script src="scripts/plugins/extras.js"></script>
<script src="scripts/plugins/wurfl.js"></script>
<!-- CryptoJS lib-->
<script src="scripts/plugins/crypto/core-min.js"></script>
<script src="scripts/plugins/crypto/enc-base64-min.js"></script>
<script src="scripts/plugins/crypto/sha256.js"></script>
<script src="scripts/plugins/crypto/hmac-sha256.js"></script>
<script src="scripts/plugins/crypto/aes.js"></script>

<script src="bower_components/jsbn/jsbn2.js"></script>
<script src="bower_components/jsbn/base64.js"></script>
<script src="bower_components/jsbn/ec.js"></script>
<script src="bower_components/jsbn/prng4.js"></script>
<script src="bower_components/jsbn/rng.js"></script>
<script src="bower_components/jsbn/rsa.js"></script>
<script src="bower_components/jsbn/rsa2.js"></script>
<script src="bower_components/jsbn/sec.js"></script>
<!-- End cryptoJS lib-->
<!-- endbuild -->

<script>
    jQuery.ajax({
        type: "GET",
        url: "http://connect.facebook.net/en_US/all.js#etags",
        success: function(){},
        dataType: "script",
        cache: true
    });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js#etags', 'ga');

    ga('create', 'UA-42299467-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
