<div id="left-edge" class="col-lg-2 col-md-0-max"></div>
<div id="express" class="col-lg-8 col-md-9 col-sm-12">
    <!--<main>-->
        <view-title>{{detail.title}}</view-title>
        <meta view-head property="og:description" content="{{detail.description}}">
        <article scroll>

            <div id="brand" class="articles-block">
                <div class="social-button-box fb-like-button" ng-attr-link="{{linkShare}}">
                </div>
                <hr>
                <div class="detail-content detail-box">
                    <h1>{{detail.title}}</h1>
                </div>
                <div class="suggest-articles detail-box">
                    <p class="suggest-article" ng-repeat="art in suggest">
                        <a href="/express/{{art._id}}?{{art.friendly}}">
                            <i class="fa fa-caret-right g-plus"></i> {{art.title}}
                        </a>
                    </p>
                </div>
            </div>

            <div class="detail-content detail-box">
                <div markdown-safe-viewer ng-attr-content="{{detail.content}}">
                </div>
            </div>

            <div class="page-branding col-md-12 none-padding">
                <div class="suggest-articles col-md-7 col-sm-12 none-padding-left" ng-if="suggest.length">
                    <h3>Bài viết liên quan</h3>
                    <p class="suggest-articles" ng-repeat="art in suggest">
                        <a href="/express/{{art._id}}?{{art.friendly}}">
                            <i class="fa fa-caret-right g-plus"></i> {{art.title}}
                        </a>
                    </p>
                </div>
                <div class="col-md-5 col-sm-12 none-padding">
                    <br>
                    <div class="page-box" ng-if="fanpageInit">
                        <div class="fb-like-box" data-href="https://www.facebook.com/vienvong.vn" data-width="100%"
                             data-height="190" data-colorscheme="light" data-show-faces="true" data-header="false"
                             data-stream="false" data-show-border="true"></div>
                    </div>
                </div>
            </div>

        </article>

        <div id="comment">
            <div class="add-comment-box">
                <div class="comment-button" ng-class="{'hidden':addStatus}">
                    <a class="max-left" style="cursor: pointer"  ng-click="commentStatus()">
                        <h3><i class="fa fa-plus-circle"></i> Add Comment</h3>
                    </a>
                </div>

                <div class="comment-message form-control valid" ng-if="addMessage">{{addMessage}}</div>

                <div class="comment-editor articles-block" ng-class="{'hidden':addStatus==false}">
                    <div>
                        <div class="comment-actions-box">
                            <p class="btn btn-link max-left">
                                Add Comment
                            </p>
                            <div class="button-right pull-right">

                                <button type="submit" class="btn btn-default" ng-click="addComment()">Add</button>
                                <button type="reset" class="btn btn-default" ng-click="resetComment()">Clear</button>
                                <button type="button" class="btn btn-default" ng-click="addStatus=false"> Hide</button>
                            </div>
                        </div>

                        <markdown-safe suffix="-comment" content="comment" ng-attr-content="CommentContent"></markdown-safe>
                    </div>
                </div>
                <!--<hr>-->
            </div>
        </div>

        <div class="articles-block list-comment" ng-if="listComment.length">
            <div class="comment-detail" ng-repeat="comment in listComment">
                <div class="comment-left-detail">
                    <img ng-if="!comment.author.avatar" ng-src="/images/no_avatar.png">
                    <img ng-if="comment.author.avatar" ng-src="{{comment.author.avatar}}">
                </div>
                <div class="comment-right-detail">
                    <div class="comment-header-detail">
                        <div class="author-name">
                            <a href="#" ng-if="comment.author.fullName">{{comment.author.fullName}}</a>
                            <a href="#" ng-if="!comment.author.fullName">Anonymous</a>
                        </div>
                    </div>
                    <div class="comment-content-detail">
                        <div markdown-safe-viewer ng-attr-content="{{comment.content}}">
                        </div>
                    </div>
                </div>
                <hr ng-if="$index < (listComment.length - 1)">
            </div>
            <div class="load-more-comment" ng-if="listCount == 10">
                <hr>
                <div>
                    <a class="load-comment-action" href="#" ng-click="getComment(pageComment)">
                        Show More <i class="fa fa-sort-desc"></i>
                    </a>
                </div>
            </div>
        </div>
    <!--</main>-->

</div>
<div id="right-edge" class="col-lg-2 col-md-3 col-sm-0-max">
    <div class="ga-box" ng-attr-aid="7089889751" ng-attr-minscreen="992"></div>
</div>