<div id="left-edge" class="col-lg-2 col-md-0-max"></div>
<div id="capital" class="col-lg-8 col-md-9 col-sm-12">
    <section ng-if="hotArticles" ng-include="'modules/articles/views/hotPosts.html'"></section>
    <div class="google-adsense container">
        <div class="ga-box" ng-attr-aid="5009882173" ng-attr-publisher="ca-pub-3924061558674006"></div>
    </div>
    <div id="list-posts">
        <section ng-repeat="normal in listArticles">
            <div class="normal-post">
                <div class="normal-post-box">
                    <div class="normal-post-detail">
                        <div class="normal-thumb-box">
                            <img ng-src="{{imgHost + normal.sAvatar}}" alt="{{normal.title}}">
                        </div>
                        <div class="normal-info-box">
                            <div class="normal-section">
                                <div class="normal-title">
                                    <a ui-sref="main.articles.express({id: normal._id, friendly: normal.friendly})">
                                        {{normal.title}}
                                    </a>
                                </div>
                                <div class="normal-description col-xs-0-max">
                                    <p>
                                        {{normal.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="normal-stats col-ss-0">
                                <div class="normal-stats-sandbox">
                                    {{normal.firstTime}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div ng-if="searchMess" class="" ng-bind-html="searchMess"></div>
    <div class="load-more-box form-control btn normal-post" ng-click="loadMore()" ng-if="next && searchMess == null"><i class="fa fa-plus"></i> Load More</div>
</div>
<div id="right-edge" class="col-lg-2 col-md-3 col-sm-0-max">

</div>