<div id="left-edge" class="col-lg-2 col-md-0-max"></div>
<div id="capital" class="col-lg-8 col-md-9 col-sm-12">
    <form name="editArticlesData" ng-submit="editArticles()">
        <div class="actions-control">
            <p class="btn btn-link">
                Edit Articles
            </p>
            <div class="button-right pull-right">
                <button type="submit" class="btn btn-default">Save</button>
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="button" class="btn btn-default" ng-click="addcomment=false"> Hide</button>
            </div>
        </div>

        <article>

            <div id="brand" class="articles-block">
                <div class="detail-content detail-box">
                    <section>
                        <label>Title</label>
                        <input name="title"  ng-model="detail.title" class="form-control"/>
                    </section>
                    <hr>
                    <section>
                        <label>Description</label>
                        <textarea name="description" ng-model="detail.description" class="form-control" rows="3"></textarea>
                    </section>
                    <hr>
                </div>
            </div>

            <div id="avatar-init" class="articles-block">
                <div class="detail-content detail-box">
                    <label>Create Thumb</label>
                    <section crop-image options="options">
                    </section>
                    <hr>
                </div>
            </div>

            <div id="express" class="articles-block">
                <label>Content</label>
                <div class="detail-content detail-box">
                    <markdown-safe suffix="-content" rows="12" ng-attr-content="detail.content"></markdown-safe>
                </div>
                <hr>
            </div>

            <div id="set-permission" class="articles-block">
                <section>
                    <label>Permission</label>
                    <div class="suggest-text">
                        <p>This options allow who will look this Articles.</p>
                        <p><b>Private</b> for only you. <b>Protected</b> for member of group. And <b>Public</b> for anyone.</p>
                    </div>
                    <div ng-init="permission = 'Private'">
                        <select ng-model="permission" class="form-inline input-sm">
                            <option>Private</option>
                            <option>Protected</option>
                            <option>Public</option>
                        </select>
                    </div>
                </section>
                <hr>
                <section ng-if="permission == 'Public'">
                    <label>Share</label>
                    <div class="suggest-text">
                        <p>This options allow <b>vienvong.vn</b> edit and share your articles in main page.</p>
                        <p>If your post are shared by <b>vienvong.vn</b>, you can't edit it.</p>
                    </div>
                    <div>
                        <select class="form-inline input-sm">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </section>
            </div>

            <div id="set-grouping" class="articles-block">
                <section>
                    <label>Category</label>
                    <input name="Group" ng-model="detail.categories" class="form-control"/>
                </section>
                <hr>
                <section>
                    <label>Keyword</label>
                    <input name="Keyword" ng-model="detail.keyword" class="form-control"/>
                </section>
                <hr>
                <section>
                    <label>Series</label>
                    <input name="Series" ng-model="detail.series" class="form-control"/>
                </section>
                <hr>
                <section>
                    <label>Tags</label>
                    <input name="Tags" ng-model="detail.tags" class="form-control"/>
                </section>
                <hr>
            </div>
        </article>

        <section>
            <div class="actions-control">
                <div class="button-right pull-right">
                    <button type="submit" class="btn btn-default">Save</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-default" ng-click="addcomment=false"> Hide</button>
                </div>
            </div>
        </section>
    </form>

</div>
<div id="right-edge" class="col-lg-2 col-md-3 col-sm-0-max">

</div>