<div id="left-edge" class="col-lg-2 col-md-0-max"></div>
<div id="capital" class="col-lg-8 col-md-9 col-sm-12">

    <h4>Create Sitemap</h4>
    <div id="search-role-form" class="standard-border col-md-12 none-padding">
        <div class="col-md-2 col-xs-4 none-padding">
            <button ng-click="sitemap()" class="form-control btn btn-info form-control-static no-border none-shadow none-radius">
                <i class="fa fa-file-code-o"></i> Create
            </button>
        </div>
        <div class="col-md-10 col-xs-8 none-padding">
            <div class="form-control form-control-static no-border none-shadow none-radius">
                {{links>0?('Number links in sitemap.xml: '+links):'Do you want create now?'}}
            </div>
        </div>
    </div>
    <hr>
</div>
<div id="right-edge" class="col-lg-2 col-md-3 col-sm-0-max">

</div>